@font-face {
    font-family: 'Poiret';
    src: url("../fonts/PoiretOne-Regular.ttf");

}
@font-face {
    font-family: 'Protomolecule';
    src: url("../fonts/Protomolecule-Regular.ttf");
}

body{
    margin: 0;
}

.header{
    position: absolute;
    top: 0;
    font-family: 'Protomolecule', "Arial";
    font-size: 3em;
    width: 100%;
    background-color: grey;
    border-bottom: solid 4px black;
    overflow: auto;
}
#headerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer{
    width: 100%;
    position:absolute;
    bottom: 0;
    background-color: grey;
    font-family: 'Protomolecule', 'Arial';
    font-size: 2em;
    border-top: solid 3px black;
    overflow: auto;
}

#footerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    color: black;
}
a:hover{
    color:white
}

form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.width100{
    width: 100%;
}


#question{
    width: 100%;
    max-width: 75%;
    font-family: 'Poiret','Arial';
    font-size: 1.5em;
    font-weight: bold;
    border: solid 1.5px;
    border-radius: 20px;
    resize: none;
    outline: none;
    padding-inline-start: 0.5em;
    opacity: 70%;
}
#button{
    background-color: grey;
    border: solid;
    border-radius: 10px;
    color: white;
    padding: 1em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin-left: 70%;
}
#button:hover {
    background-color: rgb(49, 49, 49);
}

html{
    background: url("../media/windows_xp_bliss-1920x1080.jpg") no-repeat center fixed;
}

