.header{
    position: absolute;
    height: 1.4em;
    top: 0;
    font-family: 'Protomolecule', "Arial";
    font-size: 3em;
    color: black;
    width: 100%;
    background-color: grey;
    border-bottom: solid 4px black;
    opacity: 80%;
    margin-bottom: 10%;
    overflow: hidden;
}

.footer{
    width: 100%;
    position:absolute;
    bottom: 0;
    background-color: grey;
    font-family: 'Protomolecule', 'Arial';
    font-size: 2em;
    border-top: solid 3px black;
    overflow: auto;
    opacity: 80%;
    color: black;
    overflow: hidden;
}


body{
    margin-top: 5em;
}

#button{
    background-color: grey;
    border: solid 2px;
    border-radius: 10px;
    color: white;
    padding: 0.6em 0.6em;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    margin-left: 50%;
    outline: none;
    opacity: 90%;
}
#button:hover {
    background-color: rgb(49, 49, 49);
}

a{
    color: black;
}
a:hover{
    color:white
}
textarea{
    width: 50%;
    max-width: 80%;
    font-family: 'Poiret','Arial';
    font-size: 1.5em;
    font-weight: bold;
    border: solid 1.5px;
    border-radius: 20px;
    resize: none;
    outline: none;
    padding-inline-start: 0.5em;
    opacity: 90%;
    margin-right: 20%;
}
#validate{
    position: absolute;
    bottom: 45%;
    margin-left: auto;
    background-color: grey;
    border: solid 2px;
    border-radius: 10px;
    color: white;
    padding: 0.6em 0.6em;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    margin-left: 0%;
    outline: none;
    opacity: 100%;
}
#validate:hover {
    background-color: rgb(49, 49, 49);
}
.translate-middle{
    position: absolute;
    bottom: 50%;
}