<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GrandPy Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../style/styles.css" rel="stylesheet">
        <script src="../scripts/script.js"></script>
    </head>
    <body>
    <header class="dropdown-header">
        <div id="headerbox">
                <span id="pagetitle"><a href="./index.html" alt="index" target="_self" name="Index">GrandPy</a></span>
                <span id="artlinks">Art Links</span>
        </div>
    </header>
    <div class="width100">
        <div> Background from : </div>
        <br />
        <div> Animations from :</div>
    </div>
    
    <footer class="footer">
        <div id="footerbox">
            <div>Pierre Sempere</div>
            <div><a href="https://github.com/Psemp/OC_P7" alt="Github link" target="_blank" name="Github">Github  </a></div>
            <div><a href="https://www.linkedin.com/in/pierre-semp%C3%A9r%C3%A9-25714417a/" alt="linkedin" target="_blank" name="linkedin">  LinkedIn</a></div>
        </div>
    </footer>
    </body>
</html>
